*.pyc
venv
cache
.vs
Pys60_Simulator/softwares/netease_old/.DS_Store
Pys60_Simulator/softwares/.DS_Store
Pys60_Simulator/softwares/.DS_Store
Pys60_Simulator/softwares/.DS_Store
Pys60_Simulator/softwares/.DS_Store
.DS_Store
Pys60_Simulator/.DS_Store
python/.DS_Store
.DS_Store
/python/pysoft/ithome
