*.pyc
venv
cache
.vs
Pys60_Simulator/softwares/netease_old/.DS_Store
Pys60_Simulator/softwares/.DS_Store
Pys60_Simulator/softwares/.DS_Store
Pys60_Simulator/softwares/.DS_Store
Pys60_Simulator/softwares/.DS_Store
