<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Nokia//DTD PLIST 1.0//EN" "http://www.nokia.com/NOKIA_COM_1/DTDs/plist-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>DisplayName</key>
        <string>IT之家</string>
        <key>Identifier</key>
        <string>net.ithome.news</string>
        <key>Version</key>
        <string>0.0.1</string>
        <key>MainHTML</key>
        <string>index.html</string>
        <key>AllowNetworkAccess</key>
        <true/>
    </dict>
</plist>